// _variables.scss

// Colors
$primary-color: #ff9800;
$secondary-color: #e91e63;
$accent-color: #00bcd4; // Define the accent color here
$accent-color1: #b6ac26; // Define the accent color here
$accent-color2: #00b2d4; // Define the accent color here



// Animation
$animation-duration: 2s;
$animation-size: 1.2;

// Export the variables
