.admin-page {
    background-color: #282c34;
    color: #fff;
  }
  
  .text-field {
    background-color: #fff;
  }
  
  .login-button {
    background-color: #61dafb;
    color: #282c34;
  }
  
  .set-goal-button {
    background-color: #61dafb;
    color: #282c34;
  }
  
  .players-list {
    color: #61dafb;
  }
  
  .clear-players-button {
    background-color: #61dafb;
    color: #282c34;
  }
  